html {
Height: 100%;
}

body {
border: 0;
background-color: #FFFFFF;
margin: 0;
padding: 0;
height: 100%;
font-size: 11px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
color: #333;
line-height: 1.28;
text-align: left;
direction: ltr;
}

a, a:hover, a:visited {
cursor: pointer;
color: #3B5998;
text-decoration: none;
}

#sponges {
font-size: 13px;
padding-top: 16px;
padding-bottom: 16px;
}

#sponge-title {
padding-top: 32px;
border-bottom: 1px solid #9AAFCA;
padding-bottom: 0px;
width: 300px;
}

h1 {
color: #0E385F;
font-size: 18px;
line-height: 15px;
}

h2 {
color: #0E385F;
font-size: 15px;
font-weight: normal;
line-height: 12px;
}

#sponge-title h1, #sponge-title h2 {
padding-left: 12px;
line-height: 12px;
}

#new-sponge-form {
padding-bottom: 16px;
}

#errors h1 {
color: #333;
}

#main {
min-height: 100%;
padding: 0;
margin: 0 auto;
height: 100%;
}

#top {
height: 82px;
margin: 0 auto;
background-color: #3b5998;
}

#top-inside {
margin: 0 auto;
width: 964px;
}

#logo {
position: relative;
top: -14px;
left: 4px;
}


#content {
background: #D3D8E8 url(http://static.ak.fbcdn.net/rsrc.php/v1/yB/r/TwAHgQi2ZPB.png) repeat-x;
background:-webkit-linear-gradient(top, white, #D3D8E8)
height: 100%;
margin: 0 auto;
}

#content-inside {
margin: 0 auto;
//height: 500px;
width: 924px;
//width: 50%;
}

#content-code {
//float: right;
//margin: 0 auto;
//height: 1000px;
//width: 50%; // 964
}

#links {
font-size: 16px;
float:left;
padding-top: 2px;
}

#save-button {
float: right;
}

#use-button {
float: right;
}

#code-menu {
padding-top: 8px;
clear: both;
margin: 0 auto;
padding-left: 32px;
padding-right: 4px;
height: 16px;
}


#fb-status {
padding-right: 4px;
height: 18px;
}

#errors {
padding: 8px;
}

#content-errors {
background-color: #FFEBE8;
border: 1px solid #DD3C10;
color: #333;
margin: 0 auto;
width: 924px;
padding: 16px 0;
}

#content-errors h1, #content-errors #oopsie {
padding-left: 16px;
}

#output {
background-color: #EDEFF4;
border-bottom: 1px solid #D8DFEA;
padding: 8px;
}

#content-output {
margin: 0 auto;
width: 964px;
padding: 8px;
}

#footer {
clear:both;
color: #737373;
font-size: 11px;
margin: 0 auto;
width: 980px;
padding-top: 8px;
}

#slogan {
padding: 0 8px;
}

#contentCurve {
background-color: white;
border-bottom: 1px solid #CCC;
height: 8px;
font-size: 1px;
}

#copyright {
border-top: 1px solid #EEE;
margin-bottom: 30px;
padding: 8px;
}


#codeTextarea{
    width:890px;
    border: 1px solid #96A6C5;
    //height:510px;
    //background:-webkit-linear-gradient(top, white, #D3D8E8);
    //white-space: nowrap; 
    //overflow: scroll;
}

.textAreaWithLines{
    font-family:courier;      
    //border:1px solid #000;
}

.textAreaWithLines textarea,.textAreaWithLines div{
    border:0px;
    line-height:120%;
    font-size:14px;
}

.lineObj{
    color:#3b5998;
}